footer {
    background-color: white;
    height: 60px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    border-top: 1px solid #CCCCCC
}

p {
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}
